<!DOCTYPE html>
<html ng-app="CirurgiasApp">
<head>
    <title>Portal do Médico</title>

    <link rel="stylesheet" href="css/lib/angular-material.min.css"/>
    <link rel="stylesheet" href="css/lib/bootstrap.css"/>
    <link rel="stylesheet" href="css/cirurgia.css"/>
    
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>
    <script src="js/lib/angular-messages.min.js"></script>
    <script src="js/lib/angular-material.min.js"></script>
    <script src="js/lib/moment.min.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/soapclient.js"></script>
    <script src="js/lib/angular.soap.js"></script>    
    <script src="js/lib/mask.js"></script>    

    <script src="js/cirurgia.js"></script>    
</head>
<body>
    <div ng-controller="CirurgiasCtrl">
        <md-card>
            <md-card-title>
                <md-card-title-text><span class="md-headline">Cadastro de Cirurgia</span>
                <!--span.md-subhead ...... .... ....-->
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <md-content>
                    <p>
                    <br>
                    <div layout-gt-sm="row">
                        <md-input-container flex-gt-sm="" class="md-block">
                            <label>Nr.Guia</label>
                            <input ng-model="guia"/>
                        </md-input-container>

                        <md-input-container flex-gt-sm="" class="md-block">
                            <label>Nr.Autorização</label>
                            <input ng-model="autorizacao"/>
                        </md-input-container>

                        <md-input-container flex-gt-sm="" class="md-block">
                            <label>Data Autorização</label>
                            <md-datepicker md-hide-icons="calendar" ng-model="data_autorizacao">
                            </md-datepicker>
                        </md-input-container>

                        <md-input-container flex-gt-sm="" class="md-block">
                            <label>Validade Autorização</label>
                            <md-datepicker md-hide-icons="calendar" ng-model="validade_autorizacao">
                            </md-datepicker>
                        </md-input-container> 
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container flex-gt-sm="" class="md-block">
                            <label>Tempo Estimado</label>
                            <input ng-model="tempo"/>
                        </md-input-container>   
                            
                        <md-input-container flex-gt-sm="" class="md-block">
                            <md-radio-group layout="row" ng-model="anestesia">
                            <md-radio-button value="1" class="md-primary">Local sem anestesista</md-radio-button>
                            <md-radio-button value="2" class="md-primary">Local com anestesista</md-radio-button>
                            <md-radio-button value="3" class="md-primary">Geral</md-radio-button>
                            </md-radio-group>
                        </md-input-container>                                               
                    </div>                    
                                                                    
                    <div layout-gt-sm="row">
                        <md-input-container flex-gt-sm="15" class="md-block">
                            <label>Procedimento</label>
                            <input ng-model="procedimento" ng-change='BuscarCodigo()'/>
                        </md-input-container>

                        <md-input-container flex-gt-sm="85" class="md-block">
                            <label>Descrição</label>
                            <input ng-model="descricao"/>
                        </md-input-container>

                        <md-button ng-click="addProc()" title="Adicionar Procedimento" class="md-icon-button launch">
                            <md-icon md-svg-icon="img/seta-direita.svg">
                            </md-icon>
                        </md-button>                            
                    </div>

                    <div layout-gt-sm="row" style="margin-top: -20px">
                        <md-chips ng-model="procedimentos" readonly="true" md-transform-chip="newChip($chip)" md-removable="true" class="custom-chips">
                            <md-chip-template>
                                <span>{{$chip.procedimento}} - {{$chip.descricao}}</span>                                 
                            </md-chip-template>
                        </md-chips>
                    </div>
                </md-content>                
            </md-card-content>
        </md-card>
    </div>
</body>
</html>